.rec-add{
    width: 50vw; margin-left : 15vw;
	margin-top: 30px;
	padding: 25px;
	display: inline-block;
	
	max-height: 75vh;
	min-width: fit-content;
    font-family: sans-serif;
    font-size: 3rem;
}.styled-table-add-rec {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.styled-table-add-rec thead tr {
    background-color: #16344E;
    color: #ffffff;
    text-align: center;
}
.styled-table-add-rec th,
.styled-table-add-rec td {
    padding: 12px 15px;
}
.styled-table-add-rec tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-add-rec tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table-add-rec tbody tr:last-of-type {
    border-bottom: 2px solid #16344E;
}
.styled-table-add-rec tbody tr.active-row {
    font-weight: bold;
    color: #16344E;
}



#name{
	column-fill: auto;
	height: 4vh;
}

#instructions{
    column-fill: auto;
	height: 8vh;
    overflow-y: scroll;
    overflow-x: scroll;
}





.styled-table-ing-rec {
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table-ing-rec thead tr {
    background-color: #16344E;
    color: #ffffff;
    text-align: center;
}
.styled-table-ing-rec th,
.styled-table-ing-rec td {
    padding: 12px 15px;
}
.styled-table-ing-rec tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-ing-rec tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table-ing-rec tbody tr:last-of-type {
    border-bottom: 2px solid #16344E;
}
.styled-table-ing-rec tbody tr.active-row {
    font-weight: bold;
    color: #16344E;
}
.editImg-ing-rec{
	height: 1.2vw;
}
.first-column-ing-rec{
	width: 20vw;
}
.second-column-ing-rec{
	text-align: center;
} 

.sumbitRecipeBtn{
    margin-left: 30%;
}

.rec-tags{
    max-width: 9vw;
    font-size: 14px;
}
.all-ing-list-rec-add{
    padding-top: 0px;
    resize: none;
    position: absolute;
}
.add-rec-second-col{
    width: 37vw;
}

.add-rec-first-row{
    height: 50vh;
}
.add-rec-left{
    padding-top: 0px;
}