.split-rec-ing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    height: 100%;
  }
  .left-split:hover {
    border: 1px solid #777;
  }
  .right-split:hover {
    border: 1px solid #777;
  }

  .left-split {
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(204, 204, 204);
  }

  .right-split {
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(204, 204, 204);
  }

  .ingrRec-split{
      margin-top: 40px;
     
      text-align: center;
      z-index: 2;
     
  }
  .img-rec{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.4;
    object-fit: cover;
  }

  .img-rec:hover{
    opacity: 1;
  }

  .recLeb{
    position: absolute;
    text-decoration: none;
    color: white;
    opacity: 1;
    font-weight: bold;
    font-size: 8em;
    text-align: center
  }